@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
body, div, button{
    margin: 0;
    padding: 0;
    color: #e5e4e4;
    font-family: 'Roboto', sans-serif;
}

#container{
    border-radius: 10px;
    width: fit-content;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.55);
    height: 575px;
    width: 432px;
}
#operation{
    height: 5%;
    font-size: 20px;
    padding-right: 8px;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: #292125;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#display{
    height: 14%;
    font-size: 70px;
    padding-right: 5px;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: #292125;
}
#pad{
    height: 81%;
    display: flex;
    background-color: #292125;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#left-pad{
    width: 75%;
}
.symbol-left{
    background-color: #423939;
}
.numeric{
    background-color: #5f5757;
}
.right-pad{
    background-color: #fd8d0e;
}
#right-pad{
    width: 25%;
}
button{
    width: 106px;
    height: 91px;
    border: none;
    outline: none;
    margin: 1px;
    font-size: 30px;
    font-weight: bold;
}
button:active{
    border: 1px solid black;
}
.double-size{
    width: 214px;
}
#footer{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.fab{
    margin-left: 10px;
    color: black;
}